:root {
  --bg-header-color: #E1EDE6;
  --header-color: #2C2D35;

  --bg-menu-burger: #E1EDE6;

  --intro-color-title: #2C2D35;
  --intro-color-subtitle: #86928B;
  --intro-color-link: #598D66;

  --cards-text: #2C2D35;
  --cards-bg-tabs: #D4E8D9;
  --card-bg: #E1EDE6;
  --card-author: #86928B;
  --card-price: #598D66;
  --card-button: #598D66;

  --btn-tabs-color: #F4F6F5;
  --btn-tabs-bg: #376B44;

  --bg-promo-link: #EEDB6D;

  --footer-border: #C3D1C6;
  
  --hover-link: #598D66;
  --hover-btn: #598D66;
  --hover-btn-promo: #FAEB97;
}